# Access APP (REGISTERED ACCOUNT FOR TEST)
TEST_ACCOUNT_OWNER_EMAIL=
TEST_ACCOUNT_OWNER_PASSWORD=

TEST_ACCOUNT_ADMIN_EMAIL=
TEST_ACCOUNT_ADMIN_PASSWORD=

TEST_ACCOUNT_MEMBER_EMAIL=
TEST_ACCOUNT_MEMBER_PASSWORD=